.social-scroll {
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.social-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
    -fx-effect: dropshadow(gaussian, rgba(2, 87, 38, 0.12), 15, 0.25, 0, 4);
    -fx-padding: 18;
    -fx-border-color: rgba(162, 213, 163, 0.4);
    -fx-border-width: 1px;
    -fx-border-radius: 18px;
}
.info-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #025726;
}

.info-label {
    -fx-font-size: 14px;
    -fx-text-fill: #4f6d55;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #025726;
    -fx-padding: 0 0 10 0;
}
